@media screen and (max-width: 1200px) {
  html {

    .product-box {
      width: 100%;
      margin: 0 10%;
    }

    .product-box img {
      width: auto;
    }
    .grid-container {
      columns: 3;
    }
  }
}

@media screen and (max-width: 1120px) {
  html {
    .loyalti-text {
      display: flex;
      flex-direction: column;
      order: -1;
      justify-content: center;
      align-items: center;
    }

    .banner-text {
      position: absolute;
      top: 30%;
      font-size: 75%;
    }
  }
}

@media screen and (max-width: 1000px) {
  html {

    .product-categories-container {
      width: 100%;
      margin: 2em 10%;
    }

    .product-categories-container img {
      width: 200px;
    }
    .card-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 820px) {
  html {
    body {
      font-size: 75%;
    }

    .footer-link-tab {
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
    }

    .nav-mobile {
      display: flex;
    }

    #x {
      display: none;
    }

    #x:hover {
      filter: brightness(80%);
    }

    #menuBtn:hover {
      filter: brightness(80%);
    }

    .menu {
      position: absolute;
      top:5em;
      right: 2em;
      background-color: #101820;
      z-index: 4;
      box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      opacity: 0;
      transition: 0.2s ease;
    }

    .menu-tab {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3em;
      padding: 3em 3em;
      text-align: center;
      width: 100%;
    }

    .menu.active {
      opacity: 1;
    }

    .menu-tab li:hover {
      text-decoration: underline;
    }
    .card-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    .banner-text {
      position: absolute;
      top: 20%;
    }
    .card-list {
      grid-template-columns: repeat(2, 1fr);
    }
    .grid-container {
      columns: 2;
    }
  }
}

@media screen and (max-width: 600px) {
  html {
    .banner-text {
      position: absolute;
      top: 15%;
      font-size: 65%;
    }
    .card-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 450px) {
  html {
    body {
      font-size: 50%;
    }

    .product-categories-container img {
      width: 150px;
      transform: translateY(-10em);
    }

    .banner-text {
      position: absolute;
      top: 10%;
    }
    .card-list {
      grid-template-columns: 1fr;
    }
  }
}
