@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}


@media screen and (max-width: 1024px) {
    #visi-img {
        grid-row: 1;
        grid-column: 1;
    }
    
    #visi-text {
        grid-row: 1;
        grid-column: 2 / 6;
    }
    
    #misi-img {
        grid-row: 2;
        grid-column: 1;
    }
    
    #misi-text {
        grid-row: 2;
        grid-column: 2 / 6;
    }
    
}

@media screen and (max-width: 600px) {
    nav {
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
        top: 0;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
    }
    
    nav ul li:last-of-type {
        padding-bottom: 8px;
    }
    
    nav ul.hidden {
        display: none;
    }
    
    .menu-icon {
        display: flex;
        align-items: center;
    }

    .hero-col {
        flex: 0 0 100%;
        text-align: center;
    }
    .wrapper{
        grid-template-areas: 
        'hero'
        'feature-1'
        'feature-2'
        ;
        }
        
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .section-title {
        margin-bottom: 1em;
    }

    .about-icon {
        width: 2em;
        padding-top: 0.5em;
      }
    
    .about-text {
        padding-left: 1.5rem;
        width: 400px;
        font-size: 0.8em;
    }

    .grid-item {
        font-size: 2vw;
    }

    .trial-row {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        text-align: center;
        font-size: 0.8em;
        gap: 2em;
    }

    .image-border {
        width: 60vw;
        height: 60vw;
    }
    
    .image-border > a > picture > img {
        height: 60vw;
    }
    
    .card-item {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 430px) {
    nav a {
        padding: 14px 15px;
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .hero-col {
        font-size: 3vw;
    }

    .section-title {
        font-size: 5vw;
    }
}

@media screen and (max-width: 380px) {
    nav a {
        padding: 14px 12px;
    }

    .hero-title {
        font-size: 4em;
    }

}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}