* {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcd12a;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  padding: 1.5em 5%;
  position: sticky;
  top: 0;
  background-color: #fcd12a;
  z-index: 10;
  width: 100%;
}

.logo img{
  display: flex;
  width: 10%;
}

.menu-tab {
  display: flex;
  align-items: center;
  color: #fffbf0;
  text-decoration: none;
  font-weight: 600;
}

.menu-tab li{
  display: flex;
  margin-left: 4vw;
}

.menu-tab li:hover{
  text-decoration: underline;
  cursor: pointer;
}


.nav-mobile i {
  color: #ffff;
}

.nav-mobile {
  display: none;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

